.event-table2{
    display: flex;
    align-items: center;
    justify-content: center;
    border: white solid 1px;
    width: fit-content;
    border-radius: 10px;
    height: 40px;
    margin: auto;    background-color: #e7dfd8;
}
.name-box6{
    min-width: 15rem;
}
.nid-box6{
    min-width: 15rem;
}
.price-box6{min-width: 15rem;}
.action-box6{min-width: 15rem;}
