/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    --title-color: #fff;
    /*--text-color: hsl(235, 20%, 57%);*/
    /*--shape-gradient: linear-gradient(90deg,*/
    /*hsl(300, 76%, 60%),*/
    /*hsl(57, 81%, 60%));*/
    /*--body-gradient: linear-gradient(180deg,*/
    /*hsl(22, 100%, 84%),*/
    /*hsl(265, 100%, 80%));*/
    /*--container-color: hsl(235, 32%, 10%);*/
    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2.25rem;
    --normal-font-size: 1.25rem;
}

/*=============== BASE ===============*/
/** {*/
/*    box-sizing: border-box;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

/*body {*/
/*    font-family: var(--body-font);*/
/*    !*color: var(--text-color);*!*/
/*}*/

img {
    max-width: 100%;
    height: auto;
}

/*=============== CARD ===============*/
.card {
    width: 75%;
    display: grid;
    place-items: center;
    /*background: skyblue;*/
    /*padding-block: 4.5rem;*/
    height: auto;
    right: -25%;
}
.card__container {
    margin-inline: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}
.card__article {
    position: relative;
    background-color: lightgrey;
    padding: 2.5rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 24px hsla(235, 32%, 15%, 0.2);
    /*overflow: hidden;*/
}
.card__img {
    object-fit: cover;
    width: 250px;
    margin-bottom: 1rem;
    animation: float-img 2.5s ease-in-out infinite;
}
.card__title {
    color: var(--title-color);
    line-height: 100%;
    margin-bottom: 1rem;
}
.card__description {
    font-size:0.8rem;
    overflow: hidden;
    white-space: nowrap;
    /*text-overflow: ellipsis;*/
}
/* Animation shape */
.card__article:hover .card__shape {
    animation-name: shape-animate;
    animation-duration: 0.8s;
    animation-iteration-count: 2; /* infinite */
}

@keyframes shape-animate {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.1;
    }
    40% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.7;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .card__container {
        margin-inline: 1rem;
    }
    .card__article {
        padding: 1.5rem;
    }
    .card__img {
        width: 160px;
    }
    .card__title {
        font-size: 2rem;
    }
}
/* For medium devices */
@media screen and (min-width: 440px) {
    .card__container {
        grid-template-columns: 328px;
    }
}
@media screen and (min-width: 768px) {
    .card__container {
        grid-template-columns: repeat(2, 328px);
        column-gap: 2rem;
    }
}
/* For large devices */
@media screen and (min-width: 1024px) {
    .card {
        height: 100vh;
    }
    .card__container {
        grid-template-columns: repeat(3, 328px);
        column-gap: 2rem;
    }
}

.heart-button {
    position: relative;
    margin-top: 0;
    /*width: 2rem;*/
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
    border-radius: 50px;
    color: white;

}

.heart-button.favorite {
    color:red;

}
.heart-button.favorite:hover{
    color: red;

}
.buttonss{
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    align-items: center;
}
.add-to-cart-btn{
    width: 11rem;
    height: 2.5rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    border-color: rgb(108,117,125);
    color: rgb(108,117,125);
    font-family: 'Poppins', sans-serif;
}
.login-button{
    background-color: white;
    border-color: rgb(108,117,125);
    color: rgb(108,117,125);
    font-weight: bold;
    border-width: 1px;
    height: 30px;
    width: 6vw;
    min-width: 120px;
    border-radius: 3px;
    cursor : pointer;
    margin-right: 6px;
    transition: background-color 0.15s, color 0.15s;
}
.add-to-cart-btn:hover{
    color: white;
    background-color: rgb(108,117,125);
}
.product-main{
    display: flex;
    justify-content: space-between;
}
.category-sidebar{
    border: black;
    border-radius: 2px;
    width: 20%;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}
.side-bar{
    border: black;
    border-radius: 2px;
}
.sidebar-title{
    height: auto;
    background-color: lavenderblush;
}