.login-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(183, 180, 180, 0.3);
    color: black;
}

.wrapper {
    width: 420px;
    border-radius: 10px;
    padding: 30px 40px;
    color: black;
    background: transparent;
    border: 2px solid black;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: black;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
    color: #000000;

}

.input-box input{
    width: 100%;
    height: 50%;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 40px ;
    font-size: 16px;
    color: black;
    padding: 20px 20px 20px 40px;
    /*margin-left: 40px;*/

}
.input-box input::placeholder{
    color: black;
}
.input-box .icon{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #1a1a1a;
    /*margin-bottom: 40px*/
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 0 15px;
    color: black;
}
.remember-forgot label input{
    accent-color: black;
    margin-right: 4px;
}
.remember-forgot  a{
    color: blue;
    text-decoration: none;
    font-weight: 500;

}
.remember-forgot a:hover{
    font-size: 14.5px;
    text-decoration: underline;
    color: blue;
    font-weight: 600;

}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    color: black;
}
.register-link .sign-up {
    color: blue;
    text-decoration: none;
    font-weight: 500;
}
.register-link .sign-up:hover{
    text-decoration: underline;
    color: blue;
    font-weight: 600;
}
.login-button{
    background-color: white;
    border-color: rgb(108,117,125);
    color: rgb(108,117,125);
    font-weight: bold;
    border-width: 1px;
    height: 30px;
    width: 6vw;
    min-width: 120px;
    border-radius: 3px;
    cursor : pointer;
    margin-right: 6px;
    transition: background-color 0.15s, color 0.15s;
}
.login-button:hover{
    color: white;
    background-color: rgb(6, 132, 245);
}
.cross-icon{
    display: flex;
    justify-content: space-between;
}
.wrapper .cross-icon .cross-button{
    width: fit-content;
    background-color: transparent;
    box-shadow: none;
    font-size: 25px;
    right: -8%;
    margin-top: -8%;
    position: relative;
}
.wrapper .cross-icon .cross-button:hover{
    color: #e80a0a;
    box-shadow: red;
    border: red;
    box-shadow: red;
}
