.register-main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 92vh;
    width: 100%;
    /*background: url("../../assets/bg.webp") no-repeat;*/
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(176, 176, 176, 0.38);
    color: black;
}
.wrapper {
    width: 420px;
    border-radius: 10px;
    padding: 30px 40px;
    color: black;
    background: transparent;
    border: 2px solid black;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: black;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
    color: #000000;

}

.input-box input{
    width: 100%;
    height: 50%;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 40px ;
    font-size: 16px;
    color: black;
    padding: 20px 20px 20px 60px;

}
.input-box input::placeholder{
    color: black;
}
.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #1a1a1a;
    /*margin-top: 10px*/
}
.wrapper button{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;

}
