/* homenarbar.css */

/* Your existing styles */

@media only screen and (max-width: 600px) {

    /* Styles for screens with a maximum width of 600px or smaller */
    header {
        /* Add styles specific to smaller screens here */
        height: auto; /* For example, you might want the header height to be auto for smaller screens */
    }

    /* Add any other styles you want to change for smaller screens */
}
.active{
    color: #5f99be;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(202, 204, 204);
    color: white;
    position: sticky;
    top: 0;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title{
    /*font-40 font-bold  'Roboto', sans-serif  text-center text-white text-4xl*/
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    align-items: center;
    color: white;
    font-weight: bold;

}

.cart{
    font-size: 50px;
    margin-right: 25px;
    /*margin-top: 2px;*/
    color: white;
    transition: transform 0.3s ease;
}
.cart:hover{
    color: black;
    transform: scale(1.1);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

nav ul li {
    list-style: none;
}

nav .menu{
    display: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.2rem;
    height: 1.3rem;
}

nav .menu span{
    height: 0.22rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
}


@media (max-width: 767px) {
    nav .menu{
        display: flex;
        justify-content: space-between;
    }
    nav{
        flex-direction: column;
        align-items: start;
    }
    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }
    nav ul.open {
        display: flex;
    }
    nav ul .cart{
        margin-right: 0;
    }

    nav ul li button{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    nav ul li a {
        margin: 0;
    }
    nav .box{
        display: flex;
        justify-content: center;
        width: 80%;
    }

    nav .title{
        align-items: start;
        font-size: 25px;
        font-weight: lighter;
    }
    .box{
        display: none;
    }
    .box > i{

    }

}
.box{
    width: 500px;
    height: 5px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.box > i {
    margin-top: 4px;
    font-size: 20px;
    color: #777;

}

.box > input{
    flex: 1;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 500px;
    border: none;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    border-radius: 15px;
    font-size: 16px;
    outline: none;
    color: black;
}

