@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Gwendolyn:wght@700&family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Fleur De Leah', cursive;
  font-family: 'Gwendolyn', cursive;
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/*custom button style*/
.btn-style{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  margin-bottom: 2vw;
  height: 6.3vh;
  /*background-color:white;*/
  background-color: #f1c0ba;
  padding: 20px;
}
.btn-style h4{
  padding: 10px 20px;
  width: 15vw;
  display: flex;
  justify-content: center;
  border: 1.3px solid #ffffff;
  color: #000000bb;
  /*color: white;*/
  position: relative;
  transition: all ease 0.4s;
  overflow: hidden;
  cursor: pointer;
}
.btn-style h4::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  /*background-color: #f1c0ba;*/
  left: 0;
  bottom: 0;
  transition: all ease 0.4s;
}
.btn-style h4:hover::after{
  left: -100%;
  border-radius: 0;
}
.btn-style h4 a{
  color: black;
  /*color: white;*/
  position: relative;
  z-index: 9;
  transition: all ease 0.3s;
  font-family: Poppins;
  font-size: 13.5px;
  letter-spacing: 1px;
}
.btn-style h4:hover a{
  /*color: white;*/
  color:black;
}

.active{
  color: #5f99be;
}
