.categ-img{
    z-index: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.categ-img.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition:  ease;
}
.categ-img.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: ease;
}