.bgg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    background-color: crimson;
    /*background: url("../../assets/bg.webp") no-repeat;*/
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*background-color: #c2bcbc;*/
    margin-bottom: 10px;
}